@model IEnumerable<ProfileInfoViewModel>
@{
	Layout = "_Layout";
	ViewBag.Title = "Главная";
}

@if (User.Identity.IsAuthenticated)
{
	<h1 class="text-center">Добро пожаловать</h1>
}

<div class="text-center">
	<h3>Заводите новые знакомства</h3>
	@foreach (var profile in Model)
	{
		<a class="btn btn-outline-secondary" asp-action="ProfileInfo" asp-controller="Profile" asp-route-id="@profile.Id">
			<p>@profile.Name @profile.Surname</p>
			<p>@profile.City</p>
		</a>
	}
</div>