@{
    Layout = "_Layout";
}

<h3 class="text-danger">
    Ваш аккаунт был заблокирован, пожалуйста попытайтесь снова позже или вы можете <a asp-action="ForgotPassword"
        asp-asp-controller="Account">сбросить свой пароль</a>
</h3>