@{
    Layout = "_Layout";
}

<h1>Письмо для подтверждения отправлено</h1>
<h3>Если существует какая-либо учетная запись с данным идентификатором электронной почты, то будет отправлена ​​ссылка
    для подтверждения по этой электронной почте.</h3>