@model IEnumerable<User>
@{
	Layout = "_Layout";
}

<h1>Список пользователей</h1>
<div>
	<a class="btn btn-outline-primary" asp-action="Register" asp-controller="Account">Добавить пользователя</a>
</div><br />
<table class="table table-striped table-bordered">
	@foreach (var user in Model)
	{
		<tr>
			<td>@user.Email</td>
			<td class="d-flex" style="padding-left: 5px;">
				<a class="btn btn-outline-secondary" asp-action="EditUserRoles" asp-route-id="@user.Id">
					Редактировать роли
				</a>
				<a class="btn btn-outline-secondary" asp-action="EditProfile" asp-controller="Account"
					asp-route-id="@user.Id" asp-route-url="/Users/UsersList">
					Редактировать пользователя
				</a>
				<form asp-action="DeleteUser" method="post" asp-route-id="@user.Id">
					<button type="submit" class="btn btn-outline-danger">Удалить</button>
				</form>
			</td>
		</tr>
	}
</table>